{% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
        <div class="alert alert-danger">{{ err }}</div>
    {% endfor %}

{% endif %}



{% if form.description.errors %}
    {% for error in form.description.errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
{% endif %}

<label for="descr"> {{ form.description.label }}</label>
<textarea name="description" class="form-control mb-3" id="descr">{% if form.description.value %}{{ form.description.value }}{% endif %}
</textarea>
{% if form.rate.errors %}
    {% for error in form.rate.errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
{% endif %}
<label for="review_rating"> {{ form.rate.label }}</label>
<h2 class="rating text-warning"></h2>
<input type="number" id="review_rating" min="1" max="5" name="rate" value="1" class="d-none">
<hr>
{% if is_moderator %}
    Moderated
    {% if form.is_moderated.errors %}
        {% for error in form.is_moderated.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}

    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="is_moderated" id="flexRadioDefault1" value="1">
            <label class="form-check-label" for="flexRadioDefault1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="is_moderated" id="flexRadioDefault2" value="0">
            <label class="form-check-label" for="flexRadioDefault2">
                No
            </label>
        </div>
    </div>
{% else %}
    <input type="hidden" name="is_moderated" value="0">
{% endif %}

{% include 'partials/submit_button.html' %}