{% if not fields_only %}
    <form action="{{ action_url | default:request.get_full_path }}"
          method="{{ form_method | default:'post' }}"
          enctype="{{ enctype | default:'multipart/form-data' }}">
        {% csrf_token %}
{% endif %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        {% for field in form.visible_fields %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}

            {{ field.label }}
            {{ field }}
        {% endfor %}
        
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        

{% if not fields_only %}
        <br/>
        {% include 'partials/submit_button.html' %}
    </form>
{% endif %}