{% load basic %}
<div class="card my-4">
    <div class="d-flex justify-content-between align-items-center card-header">
        <div class="d-flex align-items-center">
            <h5>
                <a href="{% url 'profile' feedback.author.pk %}">{{ feedback.author.username }}</a>
            </h5>
        </div>
        <div>
            <p class="text-secondary">
                {{ feedback.author.email }}
            </p>

            <div class="d-flex align-items-center">
                {% if user == feedback.author or perms.app.change_feedback %}
                    <a href="{% url 'update_feedback' feedback.pk %}" class="me-2 btn btn-primary">
                        Update
                    </a>
                {% endif %}

                {% if user == feedback.author or perms.app.delete_feedback %}
                    <form action="{% url 'delete_feedback' feedback.pk %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/delete_button.html' %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-text">
            <div class="fw-bold">Product: <span><a
                    href="{% url 'detail_product' feedback.product.pk %}">{{ feedback.product.title }}</a></span></div>
            <div class="fw-bold ">Rating:
                <span class="text-warning">
                    {% my_range feedback.rate as range %}

                    {% for foo in range %}
                        <i class="fas fa-star"></i>
                    {% endfor %}

                </span>
            </div>
            {% if is_moderator %}
                <div class="fw-bold">Moderated: <span>{{ feedback.is_moderated }}</span></div>
            {% endif %}
            {{ feedback.description }}
        </div>
    </div>
</div>