{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Average Rate</th>
            {% if perms.app.change_product %}
                <th scope="col">Update</th>
            {% endif %}

            {% if perms.app.delete_product %}
                <th scope="col">Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for product in products %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'detail_product' product.pk %}"
                       class="text-dark text-decoration-none">{{ product.title }}</a></td>
                <td>{{ product.category }}</td>
                <td>
                    <a href="{% url 'detail_product' product.pk %}"
                       class="text-secondary">{{ product.description | slice:':15' }}...</a>
                </td>
                <td>
                    <p>{{ product.avg }}</p>
                </td>
                {% if perms.app.change_product %}
                    <td>
                        <a href="{% url 'update_product' product.pk %}" class="btn btn-primary">Update</a>
                    </td>
                {% endif %}

                {% if perms.app.delete_product %}
                    <td>
                        <form action="{% url 'delete_product' product.pk %}" method="post">
                            {% csrf_token %}
                            {% include 'partials/delete_button.html' %}
                        </form>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}